Buoi6/catalog.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="CategoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PriceType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal"> 
        <xs:attribute name="currency" type="xs:string" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="price" type="PriceType" />
      <xs:element name="stock" type="xs:nonNegativeInteger" /> 
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="categoryRef" type="xs:string" use="required" />
  </xs:complexType>

  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" type="CategoryType" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="products">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product" type="ProductType" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>